:root {
    --ab-padding: 10px;
    --ab-row-gap: 10px;
    --ab-column-gap: 5px;
}

body {
    display: flex;
    flex-direction: column;
    gap: var(--ab-row-gap);
    margin: 0;
    padding-top: var(--ab-padding);
    padding-bottom: var(--ab-padding);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    justify-items: center;
    ;
    font-weight: bold;
    color: #333;
    gap: var(--ab-column-gap);
}

.logo-text {
    font-size: 24px;
}

.logo-icon {
    font-size: 20px;
}

.functions-section {
    background-color: black;
    padding: var(--ab-padding);
    display: flex;
    justify-content: space-between;
}

.function-btn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: var(--ab-column-gap);
    align-items: center;
}

.function-btn:hover {
    cursor: pointer;
    background-color: gray;
}

.books-table-section {
    padding: var(--ab-padding);
    display: flex;
    flex-direction: column;
}

.orderby{
    color:rgb(79, 92, 225);
}

.orderby:hover, .table-cell.action:hover {
    cursor: pointer;
    color:rgb(124, 196, 255);
}

.paginator {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--ab-column-gap);
    padding-top: var(--ab-padding);
}

.rate-btn,
.paginator-btn,
.page,
.page-active {
    background-color: #0062ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: var(--ab-padding);
    transition: 0.3s;
}

.rate-btn{
    width: 50px;
}

.page {
    background-color: lightgray;
}

.rate-btn:hover,
.paginator-btn:hover,
.page:hover,
.page-active:hover {
    box-shadow: 0 0 0 5px #3b83f65f;
    color: black;
}

.main-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: calc(3*var(--ab-column-gap));
    margin: 20px;
}

.action-section{
}

.view-book-section{
    display: flex;
    flex-direction: column;
    gap: var(--ab-row-gap);
    padding: var(--ab-padding);
}

.book-title{
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}

.book-details{
    display: flex;
    flex-direction: column;
    gap: var(--ab-column-gap);
    align-items: left;
}

.book-content{
    display: flex;
    flex-direction: row;
    gap: var(--ab-column-gap);
    align-items: center;
}

.book-cover{
    background-color:rgb(200, 200, 200);
    height: 30vh;
}