:root {
    --ab-padding: 10px;
    --ab-row-gap: 10px;
    --ab-column-gap: 5px;
}

body {
    display: flex;
    flex-direction: column;
    gap: var(--ab-row-gap);
    margin: 0;
    padding-top: var(--ab-padding);
    padding-bottom: var(--ab-padding);
}

.table-header{
    white-space: nowrap;
}

.orderby{
    color:rgb(79, 92, 225);
}

.orderby:hover, .table-cell.action:hover {
    cursor: pointer;
    color:rgb(124, 196, 255);
}
